body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(135deg, #ABC6CA, #83C9D1, #df893f);
  background-size: 200% 200%; 
  animation: gradientAnimation 2s forwards infinite; 
  transition: 10s ease-in-out; 
  display: grid;
  place-items: center;
}

@keyframes clear-animation {
  0% {
    background:linear-gradient(135deg, #00feba, #5b548a);
  }
  100% {
    background: linear-gradient(135deg, #fef100, #b70805);
  }
}

.isClear {
  animation: clear-animation 3s forwards;
}

h1{
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 20px;
}

.city-temp{
  font-size:40px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#feels{
  font-size: 16px;
  padding-bottom:20px;
  font-weight:200;
}
#input-city{
  width: 500px;
  height: 40px; 
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

main{
  width: 500px;
}
#weather-icon{
  width: 180px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details{
  display: flex;
  justify-content: space-between;
}

.humide, .windy{
  display:flex;
  gap:20px;
  align-items: center;
}

.humind{
  width:30px;
  height:30px;
}

